<% provide(:title, 'Start') %>

<div id="main-left" class="c8">
	
	<div>
		<div class="c4">
			<h1>God öl</h1>
			<p>Platsen för alla som gillar öl! Öl-freak eller bara lite smått intresserad? Spelar ingen roll, här hittar du det du verkligen vill veta om öl och kan enklare hitta nya öl som du kanske inte visste fanns.</p>
			<p><%= link_to "Utforska vår öl-databas >>", beer_list_path %> </p>
		</div>
		<div class="c4">
			<h1>Utöka upplevelsen</h1>
			<p>Som medlem får du tillgång till din egna loggbok där du kan utvärdera öl du smakat. Din bedömning av öl påverkar betyget som visas på ölets egna sida!</p>
			<p><%= link_to "Skapa ett konto >>", signup_path %> </p>
		</div>
	</div>
	
	<div class="clear"></div>
	
	<div>
		<h2>Nyheter</h2>
		
		<div>
			<h3>Vivamus id ligula</h3>
			<p>eu turpis porta posuere non sed tortor. Aliquam erat volutpat. Nullam eu nibh porttitor, ornare justo eget, ullamcorper metus. Donec eget elementum mauris, et rutrum velit. Nunc in eleifend felis. Aenean vel dolor dui. Nulla pretium sapien massa, a semper lacus laoreet vel. Suspendisse eros lectus, auctor eget dui non, scelerisque laoreet sapien</p>
		</div>
		
		<div>
			<h3>Vivamus id ligula</h3>
			<p>eu turpis porta posuere non sed tortor. Aliquam erat volutpat. Nullam eu nibh porttitor, ornare justo eget, ullamcorper metus. Donec eget elementum mauris, et rutrum velit. Nunc in eleifend felis. Aenean vel dolor dui. Nulla pretium sapien massa, a semper lacus laoreet vel. Suspendisse eros lectus, auctor eget dui non, scelerisque laoreet sapien</p>
		</div>
		
		<div>
			<h3>Vivamus id ligula</h3>
			<p>eu turpis porta posuere non sed tortor. Aliquam erat volutpat. Nullam eu nibh porttitor, ornare justo eget, ullamcorper metus. Donec eget elementum mauris, et rutrum velit. Nunc in eleifend felis. Aenean vel dolor dui. Nulla pretium sapien massa, a semper lacus laoreet vel. Suspendisse eros lectus, auctor eget dui non, scelerisque laoreet sapien</p>
		</div>
		
	</div>
	
</div>

<div id="main-right" class="c4">
	<%= render 'layouts/main_right' %>
</div>
