<div class="row">
	<div class="col type"><%= brewery_contact.contact_type.name %></div>
	<div class="col contact"><%= brewery_contact.brewery_contact %></div>
	<div class="col delete"><%= link_to 'Ta bort', [brewery_contact.brewery, brewery_contact], method: :delete %></div>
</div>