/* Elements */

*{
	margin:0;
	padding:0;
}

body,html {
	width:100%;
	height:100%;
	font-family: sans-serif;
	font-size:1em;
	background-color:#fff;
}

h1, h2, h3, h4, h5, h6{
	margin-top:.5em;
	color:#025167;
}

p{
	margin-top:.25em;
	margin-bottom:.5em;
}

img{
	margin-right:10px;
	margin-bottom:10px;
}

ul{
	margin-top:.5em;
	margin-left:20px;
}

li{
	color:#216477;
}

a, a:visited{
	color:#216477;
}

a:hover{
	color:#057D9F;
}

/* Form */
label{
	display:inline-block;
	float:left;
}
input, textarea, button, select{
	padding:5px;
	border:1px solid #000;
	border-radius:2px;
}

button, input[type="submit"]{
	padding:10px 30px;
	border-color:#fff;
	background-color:#1F7D63;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}

button:hover, input[type="submit"]:hover{
	background-color:#00A779;
}

/* Grids */
div.c12{
	float:left;
	width:940px;
	margin:0 10px;
}

div.c8{
	float:left;
	width:620px;
	margin:0 10px;
}

div.c6{
	float:left;
	width:460px;
	margin:0 10px;
}

div.c4{
	float:left;
	width:300px;
	margin:0 10px;
}

div.c3{
	float:left;
	width:220px;
	margin:0 10px;
}

div.c8 div.c4,
div.c12 div.c6,
div.c12 div.c4,
div.c12 div.c3{
	margin:0 5px;
}

/* classes */

.small-list{
	width:100%;
	float:left;
	margin:10px 0;
}
	.small-list.gray .row:nth-child(odd){
		background-color:#eee;
	}
	.small-list.gray .row:nth-child(even){
		background-color:#ddd;
	}
	.small-list.gray .row.header{
		background-color:#ccc;
	}
	.small-list .row{
		width:100%;
		float:left;
	}
	.small-list .row .col{
		padding: 3px 5px;
	}

.clear{
	clear:both;
}

/* Layout */
#wrap{
	width:100%;
	min-height:100%;
	margin:0;
	background: -webkit-linear-gradient(#eee 190px, #fff 350px); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#eee 190px, #fff 350px); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#eee 190px, #fff 350px); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#eee 190px, #fff 350px); /* Standard */
}

#header-wrap{
	width:100%;
	height:150px;
	background:#FFA040;
}

#header-container{
	position:relative;
	width:960px;
	margin:0 auto;
}

#header{
	
}

#logo{
	position: absolute;
	top:10px;
	left:10px;
	width:250px;
	height:50px;
	background:#eee;
}

#login{
	float:right;
}
#login div{
	float:left;
	padding:0 5px;
}
#login input,
#login label{
	display:block;
	float:left;
}
#login-btn{
	margin-top:10px;
}
#signup{
	margin-top:10px;
	width:100%;
	padding:5px;
	text-align:center;
	font-weight:bold;
	color:#fff;
	font-size:10px;
}

#adminnav{
	float:right;
	background-color:#ccc;
}

#adminnav ul{
	list-style:none;
	margin:0;
}

#adminnav ul li{
	float:left;
}

#adminnav ul li a{
	display:block;
	padding:3px 8px;
	background-color:#eee;
	color:#333;
	text-decoration:none;
}

#adminnav ul li a:hover{
	background-color:#369;
}

#nav-wrap{
	width:100%;
	height:40px;
	background-color:#FFBA73;
}

#nav-container{
	position:relative;
	width:960px;
	margin:0 auto;
}

#nav{
	
}

#nav ul{
	list-style:none;
	margin:0;
}

#nav ul li{
	float:left;
}

#nav ul li a{
	display:block;
	padding:10px 20px;
	color:#000;
	text-decoration:none;
}

#nav ul li a:hover{
	background-color:#FFA573;
}

#main-wrap{
	width:100%;
	min-height:300px;
}

#main-container{
	position:relative;
	width:960px;
	margin:0 auto;
}

#clear-footer{
	clear:both;
	height:100px;
}

#footer-wrap{
	width:100%;
	position:relative;
	bottom:0;
	margin:-90px auto 0 auto;
	height:69px;
	padding:10px 0;
	background-color:#146E47;
	border-top:1px solid #ccc;
}

#footer-container{
	position:relative;
	width:960px;
	margin:0 auto;
}

#footer{
	
}
