<% if object.errors.any? %>
    <div id="error_explanation">
        <div class="alert-error">
        <%= object.errors.count %> Fel måste åtgärdas.
        </div>
        <ul>
            <% object.errors.each_with_index do |msg, i| %>
            <li>* <%= msg[1] %></li>
            <% end %>
        </ul>
    </div>
<% end %>