<% provide(:title, "Beer Type: #{@contact_type.id}") %>
<h1><%= yield(:title) %></h1>
<div>
	<p><%= @contact_type.id %>: <%= @contact_type.name %></p>
	<p><%= link_to "Redigera", contact_types_edit_path %></p>
</div>