/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* Elements */
*{
	margin:0;
	padding:0;
}

body,html {
	width:100%;
	height:100%;
	font-family: sans-serif;
	font-size:1em;
	background-color:#fff;
}

h1, h2, h3, h4, h5, h6{
	margin-top:.5em;
	color:#025167;
}

p{
	margin-top:.25em;
	margin-bottom:.5em;
}

img{
	margin-right:10px;
	margin-bottom:10px;
}

ul{
	margin-top:.5em;
	margin-left:20px;
}

li{
	color:#216477;
}

a, a:visited{
	color:#216477;
}

a:hover{
	color:#057D9F;
}

button, input[type="submit"]{
	padding:5px 15px;
	border:0;
	background-color:#1F7D63;
}

button:hover, input[type="submit"]:hover{
	background-color:#00A779;
}

/* classes */
.c16{
	float:left;
	width:940px;
	margin:0 10px;
}

.c10{
	float:left;
	width:620px;
	margin:0 10px;
}

.c6{
	float:left;
	width:300px;
	margin:0 10px;
}

.clear{
	clear:both;
}

/* Layout */
#wrap{
	width:100%;
	min-height:100%;
	margin:0;
	background: -webkit-linear-gradient(#eee 190px, #fff 350px); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#eee 190px, #fff 350px); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#eee 190px, #fff 350px); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#eee 190px, #fff 350px); /* Standard */
}

#header-wrap{
	width:100%;
	height:150px;
	background:#FFA040;
}

#header-container{
	position:relative;
	width:960px;
	margin:0 auto;
}

#header{
	
}

#logo{
	position: absolute;
	top:10px;
	left:10px;
	width:250px;
	height:50px;
	background:#eee;
}

#login{
	float:right;
	width:200px;
	background-color:#ddd;
}

#login .form-row{
	float:left;
	width:100%;
	margin-top:5px;
}

#login label{
	display:block;
	width:75px;
	float:left;
	font-size:.8em;
}
#login input{
	display:block;
	float:left;
	width:100px;
	padding:0 3px;
	font-size:.75em;
}

#login #btn-login{
	display:block;
	width:100px;
	float:right;
	padding:5px 0;
	margin-right:15px;
	background-color:#aaa;
	border:1px solid #eee;
}

#login #signup-link{
	text-align:center;
	text-decoration:none;
}

#adminnav{
	float:right;
	background-color:#ccc;
}

#adminnav ul{
	list-style:none;
	margin:0;
}

#adminnav ul li{
	float:left;
}

#adminnav ul li a{
	display:block;
	padding:3px 8px;
	background-color:#eee;
	color:#333;
	text-decoration:none;
}

#adminnav ul li a:hover{
	background-color:#369;
}

#nav-wrap{
	width:100%;
	height:40px;
	background-color:#FFBA73;
}

#nav-container{
	position:relative;
	width:960px;
	margin:0 auto;
}

#nav{
	
}

#nav ul{
	list-style:none;
	margin:0;
}

#nav ul li{
	float:left;
}

#nav ul li a{
	display:block;
	padding:10px 20px;
	color:#000;
	text-decoration:none;
}

#nav ul li a:hover{
	background-color:#FFA573;
}

#main-wrap{
	width:100%;
	min-height:300px;
}

#main-container{
	position:relative;
	width:960px;
	margin:0 auto;
}

#clear-footer{
	clear:both;
	height:100px;
}

#footer-wrap{
	width:100%;
	position:relative;
	bottom:0;
	margin:-100px auto 0 auto;
	height:79px;
	padding:10px 0;
	background-color:#146E47;
	border-top:1px solid #ccc;
}

#footer-container{
	position:relative;
	width:960px;
	margin:0 auto;
}

#footer{
	
}