// Place all the styles related to the Beers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.list{
	float:left;
	width:100%;
	clear:bottom;
	
	.list-row{
		float:left;
		width:100%;
		border-left:1px solid #ccc;
		border-top:1px solid #ccc;
		clear:both;
		
		.list-col{
			float:left;
			padding:5px;
			width: 25%;
			border-right:1px solid #eee;
			border-bottom:1px solid #eee;
		}
	}
}