// Place all the styles related to the BeerTypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#beer-type-list{
	
	.row{
		
		
		.id{
			width:50px;
		}
		.name{
			width:350px;
		}
		.count{
			width:75px;
		}
		.delete{
			float:right;
			width:75px;
		}
	}
	.row.header{
		font-weight:bold;
		background-color:transparent;
	}
}

#beer-type-form{
	margin:10px 0;
	
	.form-row{
		width:100%;
		float:left;
		margin:5px 0;
		
		.form-label{
			display:block;
			font-weight:bold;
			
			label{
				display:block;
			}
		}
		
		.form-input{
			
			input{
				width:250px;
			}
			
		}
		
	}
}