// Place all the styles related to the BeerTypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.list{
	float:left;
	width:940px;
	margin:10px 0;
	//border-top:1px solid #00f;
	//border-right:1px solid #ff0;
	
	.list-row{
		float:left;
		width:940px;
		background-color:#e6e6e6;
		//border-bottom:1px solid #0f0;
		
		.list-col{
			float:left;
			margin-right:10px;
			padding:2px 0 2px 5px;
			width: 220px;
			//border-left:1px solid #f00;
		}
	}
	
	.list-row:nth-child(even){
		background-color:#eeeeee;
	}
}