// Place all the styles related to the Beers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#beer-list{
	
	.row{
		.col{
			float:left;
		}
		.beer{
			width:250px;
		}
		.beer-type{
			width:200px;
		}
		.brewery{
			width:250px;
		}
		.delete{
			float:right;
			width:100px;
		}
	}
}

#beer-form{
	
	margin:10px 0;

	.form-row{
		float:left;
		width:100%;
		margin:5px 0;
		clear:both;
		
	}

	.form-label{
		display:block;
		float:left;
		width:120px;
		margin-right:10px;
		font-weight:bold;
		
		label{
			float:right;
		}
		.req{
			color:#e33;
		}
	}

	.form-input{
		input{
			width:240px;
		}
		select{
			width:250px;
		}
	}
}

#beer-quick-form{
	margin:10px 0;
	display:none;

	.form-row{
		float:left;
		width:100%;
		margin:5px 0;
		clear:both;
		
	}
	
	.form-label{
		display:block;
		float:left;
		width:120px;
		margin-right:10px;
		font-weight:bold;
		
		label{
			display:block;
		}
		.req{
			color:#e33;
		}
	}

	.form-input{
		input{
			width:240px;
		}
		select{
			width:250px;
		}
	}
}

#beer-details{

	#beer-image{
		width:200px;
		float:right;
		margin-right:20px;
		
	}
	
	.beer-info{
		width:250px;
		p{
			margin:3px 0;
			padding:3px;
			border-bottom:1px dotted #ccc;
		}
		strong{
			display:inline-block;
			width:75px;
		}
	}
}

#beer-rating-list{
	.row{
		.col{
			
		}
		
		.label{
			width:150px;
		}
		.value{
			float:right;
			width:100px;
		}
	}
}