// Place all the styles related to the Breweries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#brewery-list{

	.row{
		
		.brewery{
			width:300px;
		}
		.nationality{
			width:300px;
		}
		.count{
			width:200px;
		}
		.delete{
			float:right;
			width:100px;
		}
	}
}

img.brewery-logo{
	width:150px;
	float:left;
	margin-right:20px;
	margin-top:20px;
}


#brewery-beer-list{
	margin:10px 0;

	.row{
		.beer{
			width:100px;
		}
		.beer_type{
			width:100px;
		}
		.abv{
			width:50px;
		}
		.rating{
			width:50px;
		}
	}

	
}

#brewery-form{
	
	margin:10px 0;

	.form-row{
		float:left;
		width:100%;
		margin:5px 0;
		clear:both;
	}

	.form-label{
		display:block;
		float:left;
		width:150px;
		margin-right:10px;
		font-weight:bold;
		
		label{
			float:right;
		}
		
		.req{
			float:right;
			color:#e33;
		}
	}

	.form-input{
		display:block;
		float:left;
		
		input{
			width:200px;
		}
		
		select{
			width:210px;
		}
		
		textarea{
			width:400px;
			height:150px;
		}
	}
}