// Place all the styles related to the Breweries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#brewery-list{
	float:left;
	width:940px;
	margin:10px 0;
	
	.list-header{
		background-color:#d6d6d6;
	}

	.list-row{
		background-color:#e6e6e6;
	}

	.list-row,
	.list-header{
		float:left;
		width:940px;
		
		.list-col{
			float:left;
			margin-right:10px;
			padding:2px 0 2px 5px;
			width: 220px;
		}
	}
	
	.list-row:nth-child(even){
		background-color:#eeeeee;
	}
}

img.brewery-logo{
	width:150px;
	float:right;
	margin-left:10px;
	margin-bottom:10px;
}

img.brewery-nat{
	width:16px;
	margin-left:5px;
}

#brewery-beer-list{
	width:100%;
	margin:10px 0;

	.row{
		float:left;
		width:100%;
		background-color:#e6e6e6;

		.col{
			float:left;
			padding:2px 3px;
			width:94px;
		}
	}

	.row:nth-child(even){
		background-color:#eee;
	}
}

#brewery-form{
	
	margin:10px 0;

	.form-row{
		float:left;
		width:100%;
		margin:5px 0;
		clear:both;
	}

	.form-label{
		display:block;
		float:left;
		width:150px;
		margin-right:10px;
		font-weight:bold;
		
		label{
			float:right;
		}
		
		.req{
			float:right;
			color:#e33;
		}
	}

	.form-input{
		display:block;
		float:left;
		
		input{
			width:200px;
		}
		
		select{
			width:210px;
		}
		
		textarea{
			width:400px;
			height:150px;
		}
	}
}