// Place all the styles related to the ContactTypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#contact-type-list{
	
	.row{
		.id{
			width:50px;
		}
		.name{
			width:350px;
		}
		.count{
			width:75px;
		}
		.delete{
			float:right;
			width:75px;
		}
	}
}

#contact-type-form{
	margin:10px 0;
	
	.form-row{
		width:100%;
		float:left;
		margin:5px 0;
		
		.form-label{
			display:block;
			float:left;
			width:100px;
			font-weight:bold;
			text-align:right;
			margin-right:10px;
		}
		
		.form-input{
			float:left;
			width:150px;
			
			input[type="text"]{
				width:150px;
				padding:3px;
			}
			
		}
		
		input[type="submit"]{
			margin-left:110px;
			padding:5px 15px;
		}
	}
}