// Place all the styles related to the LoggedBeers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logged-beer-list{
	
	.row{
		a{
			display:block;
		}
		.count{
			width:40px;
		}
		.beer{
			width:150px;	
		}
		.brewery{
			width:150px;	
		}
		.aroma{
			width:50px;
		}
		.appearance{
			width:60px;
		}
		.flavour{
			width:50px;
		}
		.pallate{
			width:60px;
		}
		.overall{
			width:50px;
		}
		.total{
			width:50px;
		}
		.date{
			float:right;
			width:90px;
		}
	}
}

#logged-beer-image{
	width:150px;
	margin:0;
}

#logged-beer-evaluation-form,
#logged-beer-score-form{
	
	.row{
		float:left;
		width:100%;
		margin:3px 0;
		
		label{
			float:left;
			width:100px;
		}
		select{
			float:left;
			width:50px;
		}
	}
}

#logged-beer-details{
	.beer-info{
		p{
			margin:3px;
			padding:3px;
			border-bottom:1px dotted #ccc;
		}
		strong{
			display:inline-block;
			width:100px;
		}
	}
	.row{
		float:left;
		width:100%;
		margin:3px 0;
		.col{
			float:left;
		}
		
		.label{
			float:left;
			width:100px;
		}
		
		.value{
			display:block;
			width:150px;
		}
		
		.bar{
			display:inline-block;
			width:100px;
			border:1px solid #bbb;
			background: #016b00;
			background: -moz-linear-gradient(left,  #d86b04 25%, #016b00 100%);
			background: -webkit-gradient(linear, left top, right top, color-stop(25%,#d86b04), color-stop(100%,#016b00));
			background: -webkit-linear-gradient(left,  #d86b04 25%,#016b00 100%);
			background: -o-linear-gradient(left,  #d86b04 25%,#016b00 100%);
			background: -ms-linear-gradient(left,  #d86b04 25%,#016b00 100%);
			background: linear-gradient(to right,  #d86b04 25%,#016b00 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d86b04', endColorstr='#016b00',GradientType=1 );

		}
		.bar-fill{
			display:inline-block;
			float:right;
			background:#fff;
		}
	}
}