// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#beer-db{
	.row{
		
		.col{
			
			img{
				margin:0;
				height:50px;
			}
		}
		.image{
			text-align:center;
			width:75px;
			margin:0;
		}
		.beer{
			width:200px;
		}
		.stats{
			width:175px;
			font-size:13px;
			
			.label{
				display:inline-block;
				font-weight:bold;
				width:75px;
			}
		}
		.brewery{
			width:200px;
		}
		.systembolaget{
			width:125px;
			float:right;
		}
	}
	.row.header{
		
		.col{
			margin:0;
			font-weight:bold;
			font-size:1em;
		}
	}
}

#brewery-search,
#beer-search{
	margin:20px 0;
	
	input[type="text"]{
		width:300px;
	}
	
	input[type="submit"]{
		float:none;
	}
}

#brewery-filter,
#beer-filter{
	margin:20px 0;
	
	select{
		width:300px;
	}
	input[type="submit"]{
		float:none;
	}
}

#brewery-db{
	.row{
		.col{
			margin-top:6px;
			
			img{
				margin:0;
				height:30px;
			}
		}
		
		.image{
			text-align:center;
			width:75px;
			margin:0;
		}
		.brewery{
			width:250px;
			padding:0;
			margin:0;
			a{
				margin:0;
				display:block;
				padding: 10px 0;
			}
		}
		.nationality{
			width:200px;
		}
		.city{
			width:250px;
		}
		.beer-count{
			float:right;
			width:75px;
			text-align:center;
		}
	}
	.row.header{
		.col{
			margin:0;
			font-weight:bold;
		}
		.col.brewery{
			margin-top:6px;
		}
	}
}

#popular-beers-list,
#new-beers-list{
	padding:10px 0;
	margin:10px 0;
	
	h2{
		text-align:center;
		margin:0;
	}
	
	.beer{
		width:100px;
	}
	.beer-type{
		width:100px;
	}
	.abv{
		float:right;
		width:50px;
	}
	
}

#beer-me-form{
	padding: 10px 0;
	margin:20px 0;
	border:1px solid #ccc;
	background-color:#4BC0FF;
	
	.row{
		float:left;
		width:100%;
		margin:5px 0;
	}
	
	h2,p{
		text-align:center;
		margin:0;
	}
	
	
	.beer-me-option{
		float:left;
		width:95px;
		
		font-weight:bold;
		text-align:center;
	}
	select {
		float:left;
		width:90px;
		margin:0 4px;
	}
	#btn-beer-me{
		text-align:center;
		
		input{
			float:none;
		}
		
	}
}