// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-list{
	
	.row{
		.id{
			width:50px;
		}
		.level{
			width:100px;
		}
		.name{
			width:250px;
		}
		.email{
			width:200px;
		}
		.delete{
			float:right;
			width:100px;
		}
	}
}

#edit-user-form{
	margin:10px 0;

	.form-row{
		float:left;
		width:100%;
		margin:5px 0;
		clear:both;
	}

	.form-label{
		display:block;
		float:left;
		width:75px;
		margin-right:10px;
		text-align:right;
		font-weight:bold;

		.req{
			color:#e33;
		}
	}

	.form-input{
		input{
			width:190px;
		}
		select{
			width:200px;
		}
	}
}