<ul>
	<li><%= link_to "Öl", beers_path %></li>
	<li><%= link_to "Öl-typer", beer_types_path %></li>
	<li><%= link_to "Bryggerier", breweries_path %></li>
	<li><%= link_to "Kontakttyper", contact_types_path %></li>
</ul>