<div id="head">
	<div id="tophead">

		<%= render 'layouts/login' %>

		<%= render 'layouts/adminnav' %>

	</div>

	<div class="clear"></div>
	
	<div id="logo">
		<h1>God Öl</h1>
	</div>
	
	<%= render 'layouts/nav' %>
	
	<div class="clear"></div>

</div>