<div id="logo">
	<p>God Öl - 2</p>
</div>

<div id="login">
	<form>
		<div class="">
			<label for="login-email">E-mail</label><br />
			<input id="login-email" type="text" />
		</div>
		<div>
			<label for="login-password">Password</label><br />
			<input id="login-password" type="password" />
		</div>
	</form>
	<div class="clear"></div>
	<div id="signup">
		<%= link_to "Registrera", signup_path %><br />
		<%= link_to "Glömt lösenord?", signup_path %>
	</div>
	<div>
		<input type="submit" id="login-btn" value="Logga in" />
	</div>
</div>

<div id="adminnav">
	<ul>
		<li><%= link_to "Öl", beers_path %></li>
		<li><%= link_to "Bryggerier", breweries_path %></li>
		<li><a href="#">Log out</a></li>
	</ul>
</div>

<div class="clear"></div>