<div>
	<h2>Beer me!</h2>
	<form>
		<select>
			<option value="">Ale</option>
			<option value="">Pale Ale</option>
			<option value="">IPA</option>
			<option value="">Dubbel-IPA</option>
		</select>
		<select>
			<option value="">0%-3%</option>
			<option value="">4%-5%</option>
			<option value="">6%-7%</option>
			<option value="">8% +</option>
		</select>
		<select>
			<option value="">0-9kr</option>
			<option value="">10kr-12kr</option>
			<option value="">13kr-19kr</option>
			<option value="">20kr +</option>
		</select>
		<button>Beer me!</button>
	</form>
</div>

<div>
	<h2>Nya Öl</h2>
	<div class="small-list gray">
		<div class="row"><div class="col"><a href="#">K:rlek vår/sommar 2014</a></div></div>
		<div class="row"><div class="col"><a href="#">Nebuchadnezzar</a></div></div>
		<div class="row"><div class="col"><a href="#">Electric nurse</a></div></div>
		<div class="row"><div class="col"><a href="#">5 A.M. Saint</a></div></div>
		<div class="row"><div class="col"><a href="#">Centennial</a></div></div>
	</div>
	<div class="clear"></div>
</div>

<div>
	<h2>Populära Öl: maj</h2>
	<div class="small-list gray">
		<div class="row"><div class="col"><a href="#">Sleepy Bulldog</a></div></div>
		<div class="row"><div class="col"><a href="#">Punk IPA</a></div></div>
		<div class="row"><div class="col"><a href="#">S:t Eriks IPA</a></div></div>
		<div class="row"><div class="col"><a href="#">Pabts Blue Ribbon</a></div></div>
		<div class="row"><div class="col"><a href="#">5 A.M. Saint</a></div></div>
	</div>
	<div class="clear"></div>
</div>