<div id="nav">
	<ul>

		<li><%= link_to 'Start', root_path %></li>
		<li><%= link_to 'Öl-lista', beer_list_path %></li>
		<li><%= link_to 'Bryggeri-lista', brewery_list_path %></li>
		<li><%= link_to 'Kontakt', contact_path %></li>
		
	</ul>
</div>